@charset "UTF-8";

@font-face {
  font-family: "standard-code";
  src:url("fonts/standard-code.eot");
  src:url("fonts/standard-code.eot?#iefix") format("embedded-opentype"),
    url("fonts/standard-code.woff") format("woff"),
    url("fonts/standard-code.ttf") format("truetype"),
    url("fonts/standard-code.svg#standard-code") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "standard-code" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "standard-code" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "b";
}
.icon-twitter:before {
  content: "c";
}
.icon-instagram:before {
  content: "a";
}
.icon-up-1:before {
  content: "d";
}
.icon-up:before {
  content: "e";
}
.icon-down:before {
  content: "f";
}
.icon-heart-filled:before {
  content: "g";
}
.icon-star:before {
  content: "i";
}
.icon-mail:before {
  content: "h";
}
.icon-list:before {
  content: "j";
}
.icon-x:before {
  content: "k";
}
.icon-left-1:before {
  content: "l";
}
.icon-right-1:before {
  content: "m";
}
.icon-mobile:before {
  content: "n";
}
.icon-computer:before {
  content: "o";
}
.icon-laptop:before {
  content: "p";
}
.icon-right:before {
  content: "q";
}
.icon-heart:before {
  content: "t";
}
.icon-left-arrow:before {
  content: "r";
}
.icon-right-arrow:before {
  content: "s";
}
.icon-check:before {
  content: "u";
}
.icon-left:before {
  content: "v";
}
.icon-phone:before {
  content: "w";
}
.icon-phone-1:before {
  content: "x";
}
.icon-user:before {
  content: "y";
}
.icon-doc:before {
  content: "z";
}
